<header class="shadow-xl">
  <div class="flex justify-between items-center py-4 px-10  border-b-2 border-(--purple-head-color)">
    <div>
      <div class="font-bold uppercase">ghrce boys hostel</div>
      <div class="text-gray-400 capitalize">sharda park, nagpur</div>
    </div>
    <div class="flex gap-2 bg-(--search-box-color) items-center rounded-md p-3">
      <!-- <div> -->
        <img src="icons/search.svg" alt="search" />
      <!-- </div> -->
      <input type="text" placeholder="Search Hostel" class="border-none bg-transparent focus:outline-none text-gray-400 w-sm"/>
    </div>
    <div class="flex gap-4 items-center">
      <div>
        <img src="icons/bell.svg" alt="" />
      </div>
      <div class="flex gap-2 items-center">
       <div class="relative w-15 h-15 border-2 rounded-full">
    <span class="absolute bottom-1 right-0 rounded-full h-3 w-3 bg-green-400"></span>

    <div class="overflow-hidden rounded-full">
        <img src="img/9440456.png" alt=""/>
    </div>
</div>
        <div>
          <div class="font-bold">Vaibhav</div>
          <div>Hostel Warden</div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-between items-center py-4 px-10">
    <div>
      <div class="font-bold text-(--purple-head-color) text-xl capitalize">user management</div>
      <div class="text-gray-400">Hi, Welcome to User Management</div>
    </div>
    <div class="relative">
      <div class="bg-(--purple-head-color) flex gap-2 items-center text-white px-4 py-2 rounded-xl cursor-pointer">
        <div>
          Add Users
        </div>
          <div>
            <img src="icons/down-arrow.svg" alt="" />
          </div>
      </div>
      <div class="border-2 border-gray-200 absolute bg-white px-5 py-2 rounded-lg hidden" #model>
        <div class="font-bold py-2 whitespace-nowrap">Add Staff</div>
        <div class="font-bold py-2 whitespace-nowrap">Add Student</div>
      </div>
    </div>
  </div>
</header>
