<section class="grid grid-cols-3 gap-x-2 gap-y-4 py-4 px-2">
  <div class="shadow-xl rounded-3xl">
    <div
      class="flex bg-(--purple-head-color) text-white justify-between py-4 px-8 rounded-t-3xl"
    >
      <div class="font-bold text-xl">Hostel Admin Count</div>
      <div class="font-bold text-xl">05</div>
    </div>
    <div class="flex justify-between items-center py-10 px-8">
      <div>
        <div class="flex items-center gap-2 pr-6 py-2">
          <span class="bg-(--purple-head-color) w-2 h-2 rounded-xl"></span>
          <span class="font-bold">Active - 10</span>
        </div>
        <div class="w-full bg-gray-200 rounded-full h-1.5">
          <div class="bg-(--purple-head-color) h-1.5 rounded-full w-1/3"></div>
        </div>
      </div>
      <div>
        <div class="flex items-center gap-2 pr-6 py-2">
          <span class="bg-(--secondary-color) w-2 h-2 rounded-xl"></span>
          <span class="font-bold">In-Active - 00</span>
        </div>
         <div class="w-full bg-gray-200 rounded-full h-1.5">
          <div class="bg-(--secondary-color) h-1.5 rounded-full w-1/3"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="shadow-xl rounded-3xl">
    <div
      class="flex bg-(--purple-head-color) text-white justify-between py-4 px-8 rounded-t-3xl"
    >
      <div class="font-bold text-xl">Hostel Admin Count</div>
      <div class="font-bold text-xl">05</div>
    </div>
    <div class="flex justify-between items-center py-10 px-8 rounded-b-3xl">
      <div>
        <div class="flex items-center gap-2 pr-6 py-2">
          <span class="bg-(--purple-head-color) w-2 h-2 rounded-xl"></span>
          <span class="font-bold">Active - 10</span>
        </div>
        <div class="w-full bg-gray-200 rounded-full h-1.5">
          <div class="bg-(--purple-head-color) h-1.5 rounded-full w-1/3"></div>
        </div>
      </div>
      <div>
        <div class="flex items-center gap-2 pr-6 py-2">
          <span class="bg-(--secondary-color) w-2 h-2 rounded-xl"></span>
          <span class="font-bold">In-Active - 00</span>
        </div>
         <div class="w-full bg-gray-200 rounded-full h-1.5">
          <div class="bg-(--secondary-color) h-1.5 rounded-full w-1/3"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="shadow-xl rounded-3xl">
    <div
      class="flex bg-(--purple-head-color) text-white justify-between py-4 px-8 rounded-t-3xl"
    >
      <div class="font-bold text-xl">Hostel Admin Count</div>
      <div class="font-bold text-xl">05</div>
    </div>
    <div class="flex justify-between items-center py-10 px-8 rounded-b-3xl">
      <div>
        <div class="flex items-center gap-2 pr-6 py-2">
          <span class="bg-(--purple-head-color) w-2 h-2 rounded-xl"></span>
          <span class="font-bold">Active - 10</span>
        </div>
        <div class="w-full bg-gray-200 rounded-full h-1.5">
          <div class="bg-(--purple-head-color) h-1.5 rounded-full w-1/3"></div>
        </div>
      </div>
      <div>
        <div class="flex items-center gap-2 pr-6 py-2">
          <span class="bg-(--secondary-color) w-2 h-2 rounded-xl"></span>
          <span class="font-bold">In-Active - 00</span>
        </div>
         <div class="w-full bg-gray-200 rounded-full h-1.5">
          <div class="bg-(--secondary-color) h-1.5 rounded-full w-1/3"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="shadow-xl rounded-3xl col-span-3 border border-(--purple-head-color)">
    <div class="flex text-(--bold-text-color) justify-between py-4 px-8 rounded-t-3xl border-b border-(--purple-head-color)">
      <div class="relative">
        <div class="font-bold text-(--bold-text-color) flex gap-2 items-center px-4 py-2 cursor-pointer">
          <div>
          Hostel Admins
        </div>
          <div >
            <img src="icons/down-arrow-black.svg" alt="" />
          </div>
        </div>
       <div class="border-2 border-gray-200 absolute bg-white px-5 py-2 rounded-lg hidden">
        <div class="font-bold py-2 whitespace-nowrap">Hostel Admins</div>
        <div class="font-bold py-2 whitespace-nowrap">Hostel Staff</div>
        <div class="font-bold py-2 whitespace-nowrap">Hostel Stduents</div>
      </div>
      </div>

      <div class="flex gap-2 items-center">
        <div class="rounded-md text-white bg-(--purple-head-color) cursor-pointer shadow-xl border border-(--purple-head-color) px-5 py-2">All</div>
        <div class="rounded-md text-gray-400 cursor-pointer shadow-xl border border-(--purple-head-color) px-5 py-2">Active</div>
        <div class="rounded-md text-gray-400 cursor-pointer shadow-xl border border-(--purple-head-color) px-5 py-2" >In-Active</div>
        <div class="rounded-md text-gray-400 cursor-pointer shadow-xl border border-(--purple-head-color) px-5 py-2" >Left-Out</div>
        <div><img src="icons/search.svg" alt="" class="px-2"></div>
      </div>
    </div>

    <div class="grid grid-cols-6 gap-4 gap-y-4 p-4">
        <div class="shadow-xl rounded-3xl border border-(--purple-head-color)">
    <div
      class="flex text-(--bold-text-color) justify-between items-center p-4 rounded-t-3xl border-b border-(--purple-head-color)"
    >
      <div class="font-bold text-xl uppercase">Admin 01</div>
      <div class=""><input type="checkbox"></div>
    </div>
    <div class="flex flex-col gap-y-1 items-center p-4 rounded-b-3xl">
      <div class="w-15 h-15 bg-(--purple-head-color) rounded-full overflow-auto">
        <img src="img/9440456.png" alt="profile">
      </div>
      <div class="font-semibold">Pratap Mude</div>
      <div>632764</div>
      <div>+91 7834744378</div>
      <div class="border border-(--purple-head-color) rounded-3xl text-(--purple-head-color) py-1 px-2">View Profile</div>
    </div>
  </div>
    </div>
  </div>


</section>
